# Database URL pointing to Supabase PostgreSQL (Direct Connection port 5432)
DATABASE_URL=postgresql+asyncpg://postgres:TU_CONTRASEÑA_SUPABASE@db.xxxxxx.supabase.co:5432/postgres

# Secret Key for JWT Token Generation
JWT_SECRET_KEY=coloca_tu_clave_secreta_hexadecimal_aqui
